body{
    width: 400px ;
    height: 400px;
    background-image: url('img/img.png');
    display: flex;
    justify-content: center; 
    align-items: center; 
    
  
}
h1{
    color: white;
    text-align: center  ;   
}
button{
    background-color: rgb(37, 150, 190);
    border-radius: 2px; 
    color: white;
    border-color: transparent;
    width: 75px;
    height: 31px;
}
input{
    background-color: white;    
    border-radius: 2px;
    color: gray;
    border-color: transparent;
    width: 250px;
    height: 25px;
    
    
}
.container {
  display: flex;
  flex-direction: column; 
  gap: 10px; 
}
